<center>
    <div class="movie" id="actionMovie">
        <% movieList.forEach(movie => { %>
            <% if(movie.dataValues.genre == 'cartoon'){ %>
                <%- include ./movie-content.ejs %>
            <% } %>
        <% }); %>
    </div>
</center>