<div class="tabContent">
    <span class="movie-title" style="color: skyblue">
        Change Password
    </span>
    <hr style="border: 0.5px solid skyblue" />
    <div id="change-password-content">
        Password:
        <div>
            <input type="password" class="changePasswordInput" id="oldPassword" placeholder="Enter your password" />
        </div>
        New password:
        <div>
            <input type="password" class="changePasswordInput" id="newPassword" placeholder="Enter your new password" />
        </div>
        Confirmed password:
        <div>
            <input type="password" class="changePasswordInput" id="confirmedNewPassword" placeholder="Confirm your new password" />
        </div>
        <div>
            <button class="btn btn-success" id="changePasswordButton">Change password</button>
        </div>
    </div>
</div>