<div id="footer">
    <div class="row no-gutter">
        <div class="col-sm-6">
            <p id="footerInfo">
                <img src="/images/wings_2.png" style="height: 36px; width: 36px; border: 0" /> Copyright © 2019 The Wings Team.
                <br>
                <span style="font-weight:bold; padding-left:5px">Contact us:</span>
                <br>
                <i class='fas fa-phone' style='font-size:16px'></i> Hotline: 0999.999.999
                <br>
                <i class='fas fa-map-marker-alt' style='font-size:20px'></i> Location: University of Science, Ho Chi Minh City, Vietnam
                <br>
                <div id="footerSocialNetwork">
                    <i class="fa fa-facebook"></i>
                    <i class='far fa-envelope'></i>
                    <i class="fa fa-git"></i>
                    <i class="fa fa-stack-overflow"></i>
                </div>
            </p>
        </div>
        <div class="col-sm-6">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.637146852013!2d106.67900811458823!3d10.762422862395495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1bfc262bf1%3A0x4e843897f2900135!2zMjI3IMSQxrDhu51uZyBOZ3V54buFbiBWxINuIEPhu6ssIFBoxrDhu51uZyA0LCBRdeG6rW4gNSwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1557821789410!5m2!1svi!2s"
                id="mainPointMap" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>