<div class="tabContent">
    <span class="movie-title" style="color: skyblue">
        History
    </span>
    <hr style="border: 0.5px solid skyblue" />
    <div id="historyWrapper">
        <div class="card">
            <div class="card-header">
                Book Ticket
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p class="card-body-content">
                        Wings Cinema Hùng Vương
                        <br>Avanger End Game - 15:00 - Room 14
                        <br>Tickets: 03
                        <br>Seats: D04, D05, D06
                        <br>
                        <b>Total: 150.000 VND</b>
                    </p>
                    <footer class="blockquote-footer">
                        <cite title="Source Title">20-05-2019 12:21</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Book Ticket
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p class="card-body-content">
                        Wings Cinema Hùng Vương
                        <br>Avanger End Game - 15:00 - Room 14
                        <br>Tickets: 03
                        <br>Seats: D04, D05, D06
                        <br>
                        <b>Total: 150.000 VND</b>
                    </p>
                    <footer class="blockquote-footer">
                        <cite title="Source Title">20-05-2019 12:21</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Book Ticket
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p class="card-body-content">
                        Avanger End Game - 15:00
                        <br>Tickets: 03
                        <br>Seats: D04, D05, D06
                        <br>
                        <b>Total: 150.000 VND</b>
                    </p>
                    <footer class="blockquote-footer">
                        <cite title="Source Title">20-05-2019 12:21</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Book Ticket
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p class="card-body-content">
                        Wings Cinema Hùng Vương
                        <br>Avanger End Game - 15:00 - Room 14
                        <br>Tickets: 03
                        <br>Seats: D04, D05, D06
                        <br>
                        <b>Total: 150.000 VND</b>
                    </p>
                    <footer class="blockquote-footer">
                        <cite title="Source Title">20-05-2019 12:21</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>